@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.Task {
  padding-bottom: 2rem;
}

.Employee {
  width: 90%;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.section-headind {
  text-align: center;
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 400;
}

.Employee-form-sec {
  border: 2px solid #337ab7;
  border-radius: 6px;
}

/* Employee form header */
#Employee-form-sec-head {
  padding: 0.75rem 1rem;
  background-color: #337ab7;
  color: white;
}

.Employee-form {
  padding: 1rem 1rem 2rem 1rem;
}

.form-property {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

.form-label {
  min-width: 15%;
  font-weight: 700;
  text-align: right;
}

.form-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inline-options {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.hobbies {
  display: flex;
  gap: 1rem;
}

.hobbies-options {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.3rem;
}

input[name='hobby'] {
  width: 11px;
  height: 11px;
  appearance: none;

  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #e0e0e0;
  cursor: pointer;
  margin-right: 0.25rem;
  position: relative;
  accent-color: grey;
}

input[name='hobby']:checked {
  background-color: grey;
  border-color: grey;
}

input[name='hobby']:checked::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0px;
  width: 25%;
  height: 60%;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[name='gender'] {
  width: 12px;
  accent-color: grey;
  height: 12px;
  appearance: none;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  background-color: #e0e0e0;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

input[name='gender']:checked {
  background-color: #fff;
  border-color: 1px solid #e0e0e0;
}

/* checked state */
input[name='gender']:checked::after {
  content: '';
  position: absolute;
  top: 14%;
  left: 14%;
  justify-self: center;
  align-self: center;
  width: 5.5px;
  height: 5.5px;
  border: 1px solid grey;
  background-color: grey;
  border-radius: 50%;
  outline: 1px solid grey;
  outline-offset: 1.35px;
}

.sub-btn {
  margin-top: 1rem;
  margin-left: 16%;
}

.submit-btn {
  padding: 0.6rem 1.2rem;
  background-color: #337ab7;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.basic-view {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.basic-view-sec {
  border: 2px solid #337ab7;
  border-radius: 6px;
}

/* Basic view header */
#basic-view-sec-head {
  padding: 0.75rem 1rem;
  background-color: #337ab7;
  color: white;
}

.basic-view-table {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.basic-view-header {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
}

.basic-view-data {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basic-view-action {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
}

.basic-view-action-data {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.6rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.del-btn {
  padding: 0.4rem 0.6rem;
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.up-btn {
  padding: 0.4rem 0.6rem;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-left: 0.5rem;
}

.advance-view {
  width: 100%;
  max-width: 71%;
  margin: 0 auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

.advance-view-sec {
  border: 2px solid #337ab7;
  border-radius: 6px;
}

/* Advance view header */
#advance-view-sec-head {
  padding: 0.75rem 1rem;
  background-color: #337ab7;
  color: white;
}

.advance-view-table {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  overflow-x: auto;
}

.advance-view-header {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
  font-weight: 700;
  white-space: nowrap;
}

.advance-view-data {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
}

.advance-view-action {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: left;
}

.advance-view-action-data {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align-last: center;
}

@media (max-width: 1024px) {
  .Employee {
    width: 100%;
    max-width: 95%;
  }

  .basic-view {
    width: 100%;
    max-width: 95%;
  }

  .advance-view {
    width: 100%;
    max-width: 96%;
  }
}

@media (max-width: 768px) {
  .form-property {
    flex-direction: column;
    align-items: flex-start;
  }

  .hobbies {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label {
    min-width: 100%;
    text-align: left;
  }

  .form-input {
    flex: 1;
    width: 100%;
  }

  .sub-btn {
    margin-left: 0;
  }

  .submit-btn {
    margin-left: 0;
  }
}