@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #337ab7;
  --color-border: #ccc;
  --color-grey: grey;
  --color-light-grey: #e0e0e0;
  --color-white: white;
  --color-danger: red;
  --color-success: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.Task {
  padding-bottom: 2rem;
}

.Employee,
.advance-view,
.basic-view {
  width: 90%;
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.section-headind {
  text-align: center;
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 400;
}

.Employee-form-sec {
  border: 2px solid var(--color-primary);
  border-radius: 6px;
}

#Employee-form-sec-head {
  padding: 0.75rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.Employee-form {
  padding: 1rem 1rem 2rem 1rem;
}

.form-property {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

.form-label {
  min-width: 15%;
  font-weight: 700;
  text-align: right;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.form-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 4px;
}



.inline-options {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.hobbies {
  display: flex;
  gap: 1rem;
}

.hobbies-options {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input[name="hobby"],
input[name="gender"] {
  accent-color: var(--color-grey);
}

.form-buttons{
  display: flex;
  align-items: center;
}

.sub-btn {
  margin-top: 1rem;
  margin-left: 16%;
}

.submit-btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 15px;
}

.can-btn{
  margin-top: 1rem;
  margin-left: 1rem;
}

.cancel-btn{
  display: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--color-grey);
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  font-size: 15px;
}

.basic-view-sec,
.advance-view-sec {
  border: 2px solid var(--color-primary);
  border-radius: 6px;
}

/* Basic and Advance view  */
#basic-view-sec-head,
#advance-view-sec-head {
  padding: 0.75rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.basic-view-table,
.advance-view-table {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  overflow-x: auto;
}

.view-table-innertable {
  width: 100%;
  align-self: center;
  border-collapse: collapse;
}

.basic-view-header,
.advance-view-header {
  border: 1px solid var(--color-border);
  padding: 0.6rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  text-overflow: ellipsis;
}



.basic-view-data,
.advance-view-data {
  border: 1px solid var(--color-border);
  padding: 0.6rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basic-view-action,
.advance-view-action {
  border: 1px solid var(--color-border);
  padding: 0.6rem;
  text-align: left;
}

.basic-view-action-data,
.advance-view-action-data {
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 0.6rem;
  white-space: nowrap;
}

.del-btn,
.up-btn {
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  background-color: var(--color-danger);
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  margin-left: 0.5rem;
}

.up-btn {
  background-color: var(--color-success);
}



.error-Msg {
  /* display: inline-block; */
  /* justify-self: center; */
  padding: 0rem 0.5rem;
  margin-bottom:0.5rem;
  border-radius: 4px;
  font-size: 10px;
  color: var(--color-danger);
}


@media (max-width: 1024px) {
  .Employee,
  .basic-view,
  .advance-view {
    width: 100%;
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .form-property,
  .hobbies {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label {
    min-width: 100%;
    text-align: left;
  }

  .form-input {
    flex: 1;
    width: 100%;
  }

  .sub-btn {
    margin-left: 0;
  }

  .submit-btn {
    margin-left: 0;
  }
}
