* {
  margin: 0;
  padding: 0;
  /* background-color: darkgrey; */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* CONTAINER  */
.Employee {
  width: 90%;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-headind {
  text-align: center;
  margin-bottom: 2%;
}

/* CARD  */
.Employee-form-sec {
  border: 2px solid #337ab7;
  border-radius: 0.5%;
}

#Employee-form-sec-head {
  padding: 1% 1.2%;
  background-color: #337ab7;
  color: white;
  font-weight: 700;
}

/* FORM */
.Employee-form {
  padding: 3%;
}

/* ROWS */
.form-property {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.2%;
  gap: 1.5%;
}

/* LABEL */
.form-label {
  width: 15%;
  font-weight: 700;
  text-align-last: right;
}

/* INPUT */
.form-input {
  width: 90%;
  padding: 0.6% 0.8%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hobbies {
  display: flex;
  gap: 0.75%;
}

.inline-options {
  /* display: flex; */
  gap: 1.2%;
  width: 90%;
}

/* Hobbies */
.hobbies-options {
  /* row-gap: 4%; */
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0% 1%;
}

/* input[name='gender'] ,
input[name='hobby'] {
accent-color: #337ab7;
} */

input[name='hobby'] {
  width: 11px;
  height: 11px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #e0e0e0; 
  cursor: pointer;
  position: relative;
}

input[name='hobby']:checked {
  background-color: grey;
  border-color: #337ab7;
}

input[name='hobby']:checked::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 0px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


/* input[name='gender'] {
  width: 11px;
  height: 11px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #e0e0e0; 
  cursor: pointer;
  position: relative;
} 
  */

input[name="gender"] {
  width: 12px;
  height: 12px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  background-color: #e0e0e0; 
  cursor: pointer;
  position: relative;
  vertical-align: middle;
} 

input[name="gender"]:checked{
  background-color: #fff; /* checked state */
  border-color: 1px solid #e0e0e0;
}

/* checked state */
input[name="gender"]:checked::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 70%;
  background-color: grey;
  border-radius: 50%;
}

input[name="gender"]:focus-visible {
  outline: 2px solid #337ab7;
  outline-offset: 2px;
}




/* Button */
.sub-btn {
  padding: 2% 0% 0% 0%;
}

.submit-btn {
  padding: 0.9% 1.5%;
  background-color: #337ab7;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 16%;
  cursor: pointer;
}

.basic-view {
  width: 90%;
  max-width: 100%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.basic-view-sec {
  border: 2px solid #337ab7;
  border-radius: 0.5%;
}

#basic-view-sec-head {
  padding: 1% 1.2%;
  background-color: #337ab7;
  color: white;
  font-weight: 700;
}

.basic-view-table {
  max-width: 100%;
  padding: 1% 2% 2.5% 2%;
  overflow-x: scroll;
}

.advance-view {
  width: 90%;
  max-width: 100%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.advance-view-sec {
  border: 2px solid #337ab7;
  border-radius: 0.5%;
}

#advance-view-sec-head {
  padding: 1% 1.2%;
  background-color: #337ab7;
  color: white;
  font-weight: 700;
}

.advance-view-table {
  max-width: 100%;
  padding: 1% 2% 2.5% 2%;
  overflow-x: scroll;
}

.del-btn {
  padding: 1.25% 1.25%;
  background-color: red;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.up-btn {
  padding: 1.25% 1.25%;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: white;
  margin-left: 2%;
  cursor: pointer;
}

@media (max-width: 768px) {

  .section-headind {
    font-size: 140%;
  }

  .Employee {
    max-width: 100%;
  }

  .basic-view {
    /* max-height: 100%; */
    max-width: 100%;
  }

  .advance-view {
    max-width: 100%;
  }

  .Employee-form {
    padding-left: 3%;
  }

  .form-property,
  .hobbies {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-label {
    width: 100%;
    text-align-last: left;
  }

  .form-input,
  .inline-options,
  .hobbies-options {
    width: 100%;
  }

  .submit-btn {
    margin-left: 0;
  }
}
